@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
:root {
  --primary-color: #3c567b;
  --secondary-color-dark: #1f153481;
  --secondary-color-dark-hover: #2e4e92;
  --secondary-color-light: #ccd2e9;
  --accent-color: #93c1f9;
  --button-color: #458ff6;
  --card-text-small-color: #7d7987;
  --heading-color: #462e6a;
  --heading-h1-font-size: 48px;
  --heading-h2-font-size: 36px;
  --heading-h3-font-size: 24px;
  --22-font-size: 22px;
  --20-font-size: 20px;
  --19-font-size: 19px;
  --18-font-size: 18px;
  --16-font-size: 16px;
  --60-line-height: 60px;
  --56-line-height: 56px;
  --55-line-height: 55px;
  --48-line-height: 48px;
  --38-line-height: 38px;
  --30-line-height: 30px;
  --28-line-height: 28px;
  --27-line-height: 27px;
}
@media screen and (max-width: 1200px) {
  :root {
    --heading-h1-font-size: 44px;
    --heading-h2-font-size: 32px;
    --heading-h3-font-size: 21px;
    --heading-h4-font-size: 17px;
    --22-font-size: 19px;
    --20-font-size: 17px;
    --19-font-size: 16px;
    --18-font-size: 15px;
    --16-font-size: 12px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    --heading-h1-font-size: 38px;
    --heading-h2-font-size: 31px;
    --heading-h3-font-size: 19px;
    --heading-h4-font-size: 15px;
    --22-font-size: 17px;
    --20-font-size: 15px;
    --19-font-size: 14px;
    --18-font-size: 15px;
    --16-font-size: 11px;
    --27-line-height: 20px;
    --28-line-height: 12px;
    --30-line-height: 22px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --heading-h1-font-size: 28px;
    --heading-h2-font-size: 24px;
    --heading-h3-font-size: 14px;
    --18-font-size: 12px;
    --56-line-height: 40px;
    --60-line-height: 40px;
    --55-line-height: 37px;
    --27-line-height: 14px;
    --30-line-height: 25px;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --heading-h1-font-size: 26px;
    --heading-h2-font-size: 22px;
    --heading-h3-font-size: 12px;
    --22-font-size: 10px;
    --18-font-size: 11px;
    --56-line-height: 25px;
    --55-line-height: 20px;
    --48-line-height: 20px;
    --30-line-height: 18px;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --heading-h1-font-size: 24px;
    --heading-h2-font-size: 20px;
    --heading-h3-font-size: 10px;
    --18-font-size: 10px;
    --56-line-height: 25px;
    --55-line-height: 18px;
    --48-line-height: 17px;
    --30-line-height: 15px;
    --20-font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --heading-h1-font-size: 20px;
    --20-font-size: 10px;
    --55-line-height: 16px;
  }
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  font-family: "Mulish", sans-serif;
  background-color: #ffffff;
}
.main .primary-button {
  background-color: var(--button-color);
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: var(--18-font-size);
  border: none;
  border-radius: 50px;
  padding: 3% 7%;
  transition: all 0.3s;
  border: 2px solid var(--button-color);
}
.main .primary-button:hover {
  background-color: #ffffff;
  color: var(--button-color);
  font-weight: 400;
  font-size: var(--18-font-size);
}
.main .secondary-button {
  background-color: #ffffff;
  color: var(--button-color);
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: var(--18-font-size);
  border: 2px solid var(--button-color);
  border-radius: 50px;
  padding: 1% 4%;
  text-decoration: none;
  transition: all 0.3s;
}
.main .secondary-button:hover {
  background-color: var(--button-color);
  color: #ffffff;
  font-weight: 400;
  font-size: var(--18-font-size);
}
.main .hero {
  position: relative;
}
.main .hero__bg-element {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat;
  background-size: contain;
  position: absolute;
  width: 20%;
  height: 20%;
  top: 17%;
  left: -4%;
  z-index: 0;
}
.main .hero__content__header {
  width: 100%;
  display: flex;
  margin: 3% 10%;
}
@media screen and (max-width: 700px) {
  .main .hero__content__header {
    margin: 5% 10%;
  }
}
.main .hero__content__header .hidden {
  height: 0;
  opacity: 0;
  width: 0;
  overflow: hidden;
}
.main .hero__content__header__logo-container {
  display: flex;
  width: 25%;
  align-items: center;
}
.main .hero__content__header__logo-container__logo {
  width: 17%;
}
.main .hero__content__header__logo-container__text {
  width: 100%;
  margin-left: 5%;
  font-size: var(--heading-h3-font-size);
  font-weight: var(--heading-h3-font-weight);
  color: var(--heading-color);
}
.main .hero__content__header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-left: 20%;
}
.main .hero__content__header__navbar__element__link {
  text-decoration: none;
  font-size: var(--18-font-size);
  font-weight: 400;
  color: var(--secondary-color-dark);
  padding-bottom: 1em;
  transition: all 0.1s;
}
.main .hero__content__header__navbar__element__link:hover {
  font-weight: 600;
  color: var(--secondary-color-dark-hover);
  border-bottom: 2.5px solid var(--secondary-color-dark-hover);
}
.main .hero__content__header__navbar__element__link.active {
  font-weight: 600;
  color: var(--secondary-color-dark-hover);
  border-bottom: 2.5px solid var(--secondary-color-dark-hover);
}
@media screen and (max-width: 900px) {
  .main .hero__content__header__navbar {
    width: 45%;
    margin-left: 15%;
  }
}
.main .hero__content__header__menu-button {
  height: 40px;
  width: 6%;
  position: absolute;
  top: -3%;
  right: 10%;
}
.main .hero__content__header__menu-button span {
  height: 5%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .hero__content__header__menu-button span:nth-child(1) {
  top: 25%;
}
.main .hero__content__header__menu-button span:nth-child(3) {
  top: 75%;
}
@media screen and (max-width: 500px) {
  .main .hero__content__header__menu-button {
    height: 35px;
  }
}
@media screen and (max-width: 400px) {
  .main .hero__content__header__menu-button {
    height: 30px;
  }
}
.main .hero__content__header__burger-menu {
  position: fixed;
  background-color: #ebebeb;
  z-index: 98;
  top: 0%;
  right: 0;
  width: 100%;
  height: 9%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.3s ease;
  padding-left: 5%;
}
.main .hero__content__header__burger-menu__element__link {
  text-decoration: none;
  font-size: var(--18-font-size);
  font-weight: 400;
  color: var(--primary-color);
  padding-bottom: 1em;
  transition: all 0.1s;
}
.main .hero__content__header__burger-menu__element__link:hover {
  font-weight: 600;
  color: var(--secondary-color-dark-hover);
  border-bottom: 2.5px solid var(--secondary-color-dark-hover);
}
.main .hero__content__header__burger-menu__element__link.active {
  font-weight: 600;
  color: var(--secondary-color-dark-hover);
  border-bottom: 2.5px solid var(--secondary-color-dark-hover);
}
.main .hero__content__header__burger-menu__cross-container {
  margin-left: 8%;
  width: 10%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .hero__content__header__burger-menu__cross-container__cross {
  height: 70%;
  width: 70%;
  position: relative;
}
.main .hero__content__header__burger-menu__cross-container__cross span {
  height: 5%;
  width: 60%;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: absolute;
  top: 48%;
  left: 21%;
  transform: translate(-50%, -50%);
}
.main .hero__content__header__burger-menu__cross-container__cross span:nth-child(1) {
  transform: rotate(-45deg);
}
.main .hero__content__header__burger-menu__cross-container__cross span:nth-child(2) {
  transform: rotate(45deg);
}
.main .hero__content__header__burger-menu.hidden {
  opacity: 1;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-height: 650px) {
  .main .hero__content__header__burger-menu {
    height: 10%;
  }
}
@media screen and (max-height: 550px) {
  .main .hero__content__header__burger-menu {
    height: 12%;
  }
}
@media screen and (max-height: 460px) {
  .main .hero__content__header__burger-menu {
    height: 15%;
  }
}
@media screen and (max-height: 360px) {
  .main .hero__content__header__burger-menu {
    height: 20%;
  }
}
.main .hero__content__main {
  display: flex;
  justify-content: space-around;
  margin-top: 12%;
  margin-left: 9%;
}
.main .hero__content__main__left {
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .main .hero__content__main__left {
    width: 60%;
  }
}
.main .hero__content__main__left__header-text {
  margin-top: 4%;
  font-size: var(--heading-h1-font-size);
  font-weight: 600;
  color: var(--primary-color);
  line-height: var(--56-line-height);
}
.main .hero__content__main__left__main-text {
  margin-top: 10%;
  font-size: var(--19-font-size);
  font-weight: 400;
  line-height: var(--27-line-height);
  color: var(--accent-color);
  width: 80%;
}
.main .hero__content__main__left__button-container {
  margin-top: 18%;
  margin-left: 6%;
}
.main .hero__content__main__right {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}
.main .hero__content__main__right__image {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main .offered-services {
  position: relative;
}
.main .offered-services__bg-element-1 {
  background: url("../src/images/huge-drop-bg-element-1.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 120%;
  height: 120%;
  top: 0%;
  left: -45%;
  z-index: 0;
}
.main .offered-services__bg-element-2 {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 15%;
  height: 15%;
  top: 44%;
  left: 75%;
  z-index: 0;
}
.main .offered-services__content {
  position: relative;
  margin-top: 15%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .offered-services__content__text {
  color: var(--heading-color);
  font-size: var(--heading-h1-font-size);
  font-weight: 600;
  line-height: var(--56-line-height);
  text-align: center;
}
.main .offered-services__content__border-bottom {
  margin-top: 1.5%;
  width: 4%;
  border-bottom: 3px solid #000000;
  border-radius: 3px;
}
.main .offered-services__content__subtext {
  width: 60%;
  margin-top: 2%;
  text-align: center;
  color: var(--secondary-color-light);
  font-size: var(--19-font-size);
  line-height: var(--27-line-height);
}
.main .offered-services__content__card-container {
  margin-top: 4%;
  width: 70%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 750px) {
  .main .offered-services__content__card-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.main .offered-services__content__card-container .services-card {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin: 5%;
  padding: 5% 10%;
  background-color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  justify-content: space-around;
  transition: all 0.3s;
}
.main .offered-services__content__card-container .services-card:hover {
  transform: translateX(5px) translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.main .offered-services__content__card-container .services-card__icon-container {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .offered-services__content__card-container .services-card__icon-container__icon {
  width: 25%;
}
.main .offered-services__content__card-container .services-card__text-container {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .offered-services__content__card-container .services-card__text-container__header-text {
  text-align: center;
  margin-top: 10%;
  font-size: var(--heading-h3-font-size);
  font-weight: 600;
}
.main .offered-services__content__card-container .services-card__text-container__main-text {
  margin-top: 10%;
  font-size: var(--16-font-size);
  line-height: var(--28-line-height);
  font-weight: 300;
  color: var(--card-text-small-color);
}
.main .offered-services__content__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}
.main .offered-services__content__button-container .secondary-button {
  padding: 1.4% 4.5%;
}
.main .feature-1 {
  position: relative;
}
.main .feature-1__bg-element {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 25%;
  height: 25%;
  top: 100%;
  left: 87.5%;
  z-index: 0;
}
.main .feature-1__content {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
}
.main .feature-1__content__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .feature-1__content__left__image {
  width: 100%;
}
.main .feature-1__content__right {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.main .feature-1__content__right__header-text {
  margin-top: 7%;
  width: 65%;
  color: var(--heading-color);
  font-size: var(--heading-h2-font-size);
  line-height: var(--56-line-height);
  font-weight: 700;
}
.main .feature-1__content__right__header-text__border-bottom {
  margin-top: 8%;
  width: 14%;
  border-bottom: 3px solid #000000;
  border-radius: 3px;
}
@media screen and (max-width: 800px) {
  .main .feature-1__content__right__header-text {
    width: 100%;
  }
}
.main .feature-1__content__right__main-text {
  margin-top: 6%;
  width: 65%;
  color: var(--card-text-small-color);
  font-size: var(--18-font-size);
  font-weight: 300;
  line-height: var(--30-line-height);
}
@media screen and (max-width: 800px) {
  .main .feature-1__content__right__main-text {
    width: 95%;
  }
}
.main .feature-1__content__right__button-container {
  margin-top: 8%;
}
.main .feature-1__content__right__button-container .secondary-button {
  padding: 2.5% 9%;
}
@media screen and (max-width: 800px) {
  .main .feature-1__content__right {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .main .feature-1__content__right {
    width: 100%;
    margin-right: 2%;
  }
}
.main .feature-2 {
  display: flex;
  justify-content: center;
}
.main .feature-2__content {
  width: 83%;
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
}
.main .feature-2__content__left {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.main .feature-2__content__left__header-text {
  margin-top: 7%;
  width: 90%;
  color: var(--heading-color);
  font-size: var(--heading-h2-font-size);
  line-height: var(--56-line-height);
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .main .feature-2__content__left__header-text {
    width: 100%;
  }
}
.main .feature-2__content__left__header-text__border-bottom {
  margin-top: 8%;
  width: 14%;
  border-bottom: 3px solid #000000;
  border-radius: 3px;
}
.main .feature-2__content__left__main-text {
  margin-top: 6%;
  width: 65%;
  color: var(--card-text-small-color);
  font-size: var(--18-font-size);
  font-weight: 300;
  line-height: var(--30-line-height);
}
@media screen and (max-width: 600px) {
  .main .feature-2__content__left__main-text {
    width: 100%;
  }
}
.main .feature-2__content__left__button-container {
  margin-top: 8%;
}
.main .feature-2__content__left__button-container .secondary-button {
  padding: 2.5% 9%;
}
@media screen and (max-width: 800px) {
  .main .feature-2__content__left {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .main .feature-2__content__left {
    width: 100%;
  }
}
.main .feature-2__content__right {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .feature-2__content__right__image {
  width: 100%;
}
.main .feature-3 {
  position: relative;
}
.main .feature-3__bg-element {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 30%;
  height: 30%;
  top: -15%;
  left: -14%;
  z-index: 0;
}
.main .feature-3__content {
  margin-top: 20%;
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
}
.main .feature-3__content__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .feature-3__content__left__image {
  width: 100%;
}
.main .feature-3__content__right {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.main .feature-3__content__right__header-text {
  margin-top: 10%;
  color: var(--heading-color);
  font-size: var(--heading-h2-font-size);
  line-height: var(--56-line-height);
  font-weight: 700;
}
@media screen and (max-width: 900px) {
  .main .feature-3__content__right__header-text {
    width: 100%;
  }
}
.main .feature-3__content__right__header-text__border-bottom {
  margin-top: 8%;
  width: 14%;
  border-bottom: 3px solid #000000;
  border-radius: 3px;
}
.main .feature-3__content__right__main-text {
  margin-top: 8%;
  color: var(--card-text-small-color);
  font-size: var(--18-font-size);
  font-weight: 300;
  line-height: var(--30-line-height);
}
@media screen and (max-width: 900px) {
  .main .feature-3__content__right__main-text {
    width: 95%;
  }
}
.main .feature-3__content__right__button-container {
  margin-top: 8%;
}
.main .feature-3__content__right__button-container .secondary-button {
  padding: 3% 13%;
}
@media screen and (max-width: 800px) {
  .main .feature-3__content__right {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .main .feature-3__content__right {
    width: 100%;
    margin-right: 10%;
  }
}
.main .review {
  display: flex;
  justify-content: center;
}
.main .review__content {
  margin-top: 15%;
  width: 100%;
}
.main .review__content__carousel-container {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 1100px) {
  .main .review__content__carousel-container {
    height: 500px;
  }
}
@media screen and (max-width: 900px) {
  .main .review__content__carousel-container {
    height: 460px;
  }
}
@media screen and (max-width: 750px) {
  .main .review__content__carousel-container {
    height: 430px;
  }
}
@media screen and (max-width: 600px) {
  .main .review__content__carousel-container {
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .main .review__content__carousel-container {
    height: 250px;
  }
}
.main .review__content__carousel-container__track-container {
  height: 100%;
  position: relative;
}
.main .review__content__carousel-container__track-container__track {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  transition: all 0.5s ease;
}
.main .review__content__carousel-container__track-container__track .review-card-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card {
  z-index: 1;
  width: 100%;
  position: relative;
  width: 80%;
  border-radius: 30px;
  background: linear-gradient(#6888C8, #5A98F2);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease, opacity 2s ease;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__bg-element-1 {
  background: url("../src/images/25-dots-for-bg-enhancement-white.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 25%;
  height: 25%;
  top: -3%;
  left: 85%;
  z-index: 0;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__bg-element-2 {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 25%;
  height: 25%;
  top: 70%;
  left: -11%;
  z-index: 0;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card:hover {
  transform: translateX(10px) translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__header {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .main .review__content__carousel-container__track-container__track .review-card-container .review-card__header {
    padding: 2%;
  }
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__header__text {
  text-align: center;
  font-size: var(--heading-h2-font-size);
  font-weight: 600;
  line-height: var(--48-line-height);
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__header__border-bottom {
  margin-top: 7%;
  border-bottom: 3px solid #ffffff;
  width: 10%;
  border-radius: 2px;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main {
  margin: 8% 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left {
  display: flex;
  width: 50%;
  align-items: center;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container {
  width: 25%;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container__icon {
  width: 100%;
}
@media screen and (max-width: 700px) {
  .main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container__icon {
    width: 120%;
  }
}
@media screen and (max-width: 500px) {
  .main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container__icon {
    width: 150%;
  }
}
@media screen and (max-width: 400px) {
  .main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container__icon {
    width: 180%;
  }
}
@media screen and (max-width: 500px) {
  .main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container {
    margin-right: 5%;
  }
}
@media screen and (max-width: 400px) {
  .main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__icon-container {
    margin-right: 15%;
  }
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__text-container {
  margin-left: 10%;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__text-container__text {
  font-size: var(--22-font-size);
  line-height: var(--48-line-height);
  font-weight: 600;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__left__text-container__subtext {
  margin-top: 10%;
  font-size: var(--18-font-size);
  font-weight: 300;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__right {
  width: 50%;
}
.main .review__content__carousel-container__track-container__track .review-card-container .review-card__main__right__quote {
  font-size: var(--22-font-size);
  font-weight: 600;
  line-height: var(--55-line-height);
}
.main .review__content__carousel-container__track-container__track .review-card-container.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}
.main .review__content__review-nav-container {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.main .review__content__review-nav-container .review-navigation {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.main .review__content__review-nav-container .review-navigation__left-arrow-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.main .review__content__review-nav-container .review-navigation__left-arrow-container:hover {
  opacity: 1;
}
.main .review__content__review-nav-container .review-navigation__left-arrow-container__icon {
  width: 20%;
}
@media screen and (max-width: 1000px) {
  .main .review__content__review-nav-container .review-navigation__left-arrow-container__icon {
    width: 35%;
  }
}
@media screen and (max-width: 800px) {
  .main .review__content__review-nav-container .review-navigation__left-arrow-container__icon {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .main .review__content__review-nav-container .review-navigation__left-arrow-container__icon {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .main .review__content__review-nav-container .review-navigation__left-arrow-container__icon {
    width: 60%;
  }
}
.main .review__content__review-nav-container .review-navigation__indicators-container {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .main .review__content__review-nav-container .review-navigation__indicators-container {
    width: 25%;
  }
}
@media screen and (max-width: 600px) {
  .main .review__content__review-nav-container .review-navigation__indicators-container {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .main .review__content__review-nav-container .review-navigation__indicators-container {
    width: 35%;
  }
}
@media screen and (max-width: 400px) {
  .main .review__content__review-nav-container .review-navigation__indicators-container {
    width: 45%;
  }
}
.main .review__content__review-nav-container .review-navigation__indicators-container .review-card-indicator {
  border: none;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.main .review__content__review-nav-container .review-navigation__indicators-container .review-card-indicator:hover {
  cursor: pointer;
  background-color: var(--button-color);
}
.main .review__content__review-nav-container .review-navigation__indicators-container .review-card-indicator.active {
  background-color: var(--button-color);
}
.main .review__content__review-nav-container .review-navigation__right-arrow-container {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.main .review__content__review-nav-container .review-navigation__right-arrow-container:hover {
  opacity: 1;
}
.main .review__content__review-nav-container .review-navigation__right-arrow-container__icon {
  width: 20%;
}
@media screen and (max-width: 1000px) {
  .main .review__content__review-nav-container .review-navigation__right-arrow-container__icon {
    width: 35%;
  }
}
@media screen and (max-width: 800px) {
  .main .review__content__review-nav-container .review-navigation__right-arrow-container__icon {
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .main .review__content__review-nav-container .review-navigation__right-arrow-container__icon {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  .main .review__content__review-nav-container .review-navigation__right-arrow-container__icon {
    width: 60%;
  }
}
.main .footer {
  margin-top: 15%;
  position: relative;
  display: flex;
  justify-content: center;
}
.main .footer__bg-element-1 {
  background: url("../src/images/arrow-up-bg.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 10%;
  height: 15%;
  top: -50%;
  left: 85%;
}
@media screen and (max-width: 1000px) {
  .main .footer__bg-element-1 {
    left: 88%;
  }
}
.main .footer__bg-element-2 {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 30%;
  height: 30%;
  top: -18%;
  left: 75%;
  z-index: 1;
}
.main .footer__bg-element-3 {
  background: url("../src/images/25-dots-for-bg-enhancement.png") no-repeat center;
  background-size: contain;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 70%;
  left: -14%;
  z-index: 2;
}
.main .footer__content {
  background: linear-gradient(#6888C8, #5A98F2);
  z-index: 1;
  padding: 5% 3%;
  width: 100%;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr 2fr 1fr 2fr 1fr 2fr 1fr;
}
@media screen and (max-width: 700px) {
  .main .footer__content {
    grid-template-columns: 1fr 4fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  }
}
.main .footer__content__column-1 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.main .footer__content__column-1__logo-container {
  display: flex;
  align-items: center;
}
.main .footer__content__column-1__logo-container__logo {
  width: 12%;
}
.main .footer__content__column-1__logo-container__text {
  margin-left: 5%;
  font-size: var(--heading-h3-font-size);
  font-weight: 700;
}
.main .footer__content__column-1__main-text {
  margin-top: 10%;
  font-size: var(--18-font-size);
  line-height: var(--27-line-height);
  font-weight: 600;
}
.main .footer__content__column-1__copyright-text {
  margin-top: 10%;
  font-size: var(--16-font-size);
  font-weight: 300;
}
.main .footer__content .footer__header-text {
  font-size: var(--20-font-size);
  font-weight: 600;
}
.main .footer__content .footer__link {
  margin-top: 15%;
}
.main .footer__content .footer__link a {
  font-size: var(--18-font-size);
  font-weight: 200;
  text-decoration: none;
  color: #ffffff;
}
.main .footer__content .footer__link a:hover {
  color: var(--primary-color);
  font-weight: 400;
  transition: all 0.3s;
}
.main .footer__content__column-2 {
  grid-column-start: 4;
  grid-column-end: 5;
}
.main .footer__content__column-3 {
  grid-column-start: 6;
  grid-column-end: 7;
}
.main .footer__content__column-4 {
  grid-column-start: 7;
  grid-column-end: 9;
}/*# sourceMappingURL=style.css.map */